﻿@using WorldOfBirds.Models;

@model  WorldOfBirds.Models.Bird

@{
    ViewBag.Title = "Bird";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    
<div class="container">
    <h1>@Model.Name</h1>
    <p>@Model.Description</p>
    <img class="mainphoto_owl" src="@Model.PhotoPath" alt="">
</div>

