﻿@using WorldOfBirds.Models;

@model IEnumerable<WorldOfBirds.Models.Message>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container">
    <h1>Сообщения посетителей сайта:</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Email</th>
                <th scope="col">Текст сообщения</th>
                <th scope="col">Дата</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in Model)
            {
                <tr>
                    <td>@message.Name</td>
                    <td>@message.Email</td>
                    <td>@message.Text</td>
                    <td>@message.Date</td>
                </tr>
            }
        </tbody>
    </table>
</div>





