﻿#headerwrap {
    background: url(BirdsPhoto/birds.jpg) no-repeat center top;
    margin-top: -40px;
    text-align: center;
    background-attachment: scroll;
    background-position: center center;
    min-height: 550px;
    width: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}