﻿@using WorldOfBirds.Models;

@model  IEnumerable<WorldOfBirds.Models.BirdsCategory>

@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <div class="starter-template">

        @foreach (var category in Model)
        {
            <h1>@category.Name</h1>

            <div class="row">

                @foreach (var bird in category.Birds)
                {
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <img src="@bird.PhotoPath" alt="...">
                            <div class="caption">
                                <p><a href="@Url.Action("Bird", "Bird", new { id = bird.Id })" class="btn btn-default" role="button">@bird.Name &raquo; </a></p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }

    </div>
</div>



