﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <div class="container">
        <h1>Xотите узнать интересные факты из&nbsp;жизни птиц-рекордсменов:</h1>
        <p>самых больших и&nbsp;самых маленьких, летающих лучше всех и&nbsp;не&nbsp;летающих совсем, самых зорких и&nbsp;самых сообразительных, самых редких и&nbsp;самых многочисленных?</p>
        <p>@Html.ActionLink("Узнать больше", "Gallery", "Gallery", null, new { @class = "btn btn-primary btn-lg" })</p>
    </div>
</div>

<div id="headerwrap"></div>





