﻿@model  WorldOfBirds.Models.Message
@{
    ViewBag.Title = "Feetback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>

<div class="container">
    <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Напишите нам</h2>
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "Ваше имя", id = "inputName", type = "text", autofocus = "autofocus", required = "required" } })
        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Ваш Email", id = "inputEmail", type = "email", autofocus = "autofocus", required = "required" } })
        <br>
        <div class="form-group">
            <label for="comment">Сообщение:</label>
            @Html.TextAreaFor(model => model.Text, htmlAttributes: new { @class = "form-control", name = "Text", rows = "3", required = "required" })
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Отправить</button>
    </form>
</div>


