﻿
@model WorldOfBirds.Models.Message

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<main role="main" class="container">

    <div class="starter-template">
        <h1>@Model.Name, Ваше сообщение отпрaвлено</h1>
    </div>

</main>
