body{
    color:#555555;
    background-color:azure;
    font-family: calibri,"Times New Roman", Verdana;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

.header{
    border-bottom: 5px solid black;
    height: 100px;
}

.menu li a{
    text-decoration: none;
    color: black;
    font-style: italic;
    font-size: 25px;
    
}

.menu a:hover{
    color: rgba(82, 168, 236, 0.9);
}

.menu li{
    list-style-type: none;
    margin-right: 21px;
    float: right;
    
}

.logo a{
    font-size: 70px;
    color: black;
    font-style: italic;
    font-weight:bold;
    text-decoration: none;
    cursor: auto;
    margin-top: 2px;
    margin-left: 12px;
    float: left;
}

.shortdescriptionsite{
    font-size: 30px;
    color:#555555;
    text-decoration: none;
    margin-top: 30px;
}

.sectionname{
    display: block;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
 p{
    font-size: 18px;
}

.mainphoto{
    width:1200px;
    height: auto;
    text-align: center;
    
}
.mainphoto_owl{
    width:1100px;
    height: auto;
    border: 1px solid black;
    margin-top: 30px;
}
.photo{
    width: 32%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.nameofbird{
   font-size: 20px;
   color: black;
}
input{
    width: 250px;
    height: 25px;
    text-transform: capitalize;
    font-size: 16px;
}
legend {
    font-size: 25px;
}

input:active{
    color:rgba(82, 168, 236, 0.8);
    
}
input[type="email"]{
    text-transform: none;
}

textarea{
    text-transform: capitalize;
    font-size: 16px;
}

.nameofbird:hover{
    border: 2px solid transparent;
}
a.buttons{
  background-color: azure;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
        border-radius: 4px;
    color: #555555;
    display:block;
        width:1200px;
        margin: 20px auto;
    font-size: 30px;
    font-weight:bold;
        text-align:center;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
        text-decoration:none;
}
a.buttons:hover, a.buttons:focus {
   border-color: rgba(82, 168, 236, 0.8);
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
   outline: 0 none;
}
.futer{
    height: auto;
}